body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://images-na.ssl-images-amazon.com/images/S/pv-target-images/8325770f90438b71d0a177b3f90ef5f1f9a028a5081a128e155a14f89110aae3._RI_V_TTW_.jpg");
    background-color: #a2f2f7;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #000000;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  